services/node-red/flows.json
[
  { "id": "flow1", "type": "tab", "label": "Nextcloud Webhooks", "disabled": false, "info": "" },
  { "id": "http_in_1", "type": "http in", "z": "flow1", "name": "POST /webhooks/nextcloud", "url": "/webhooks/nextcloud", "method": "post", "upload": false, "swaggerDoc": "", "x": 180, "y": 140, "wires": [["fn_auth"]] },
  { "id": "fn_auth", "type": "function", "z": "flow1", "name": "Verify secret", "func": "const secret = env.get('WEBHOOK_SECRET') || '';\nconst hdr = (msg.req && (msg.req.headers['x-webhook-secret'])) || '';\nconst q = (msg.req && msg.req._parsedUrl && new URLSearchParams((msg.req._parsedUrl.search||'').slice(1)).get('token')) || '';\nconst provided = hdr || q || '';\nif (!secret || provided !== secret) {\n  return [{ payload: { ok: false, error: 'unauthorized' } }, null];\n}\nreturn [null, msg];", "outputs": 2, "noerr": 0, "x": 400, "y": 140, "wires": [["http_resp_401"],["json_1"]] },
  { "id": "http_resp_401", "type": "http response", "z": "flow1", "name": "401 JSON", "statusCode": "401", "headers": {"Content-Type":"application/json"}, "x": 640, "y": 100, "wires": [] },
  { "id": "json_1", "type": "json", "z": "flow1", "name": "Parse JSON", "property": "payload", "action": "obj", "pretty": false, "x": 640, "y": 180, "wires": [["fn_norm"]] },
  { "id": "fn_norm", "type": "function", "z": "flow1", "name": "Normalize & split", "func": "const evt = msg.payload || {};\nconst now = new Date().toISOString();\nconst trace = evt.trace_id || now;\nconst eventId = evt.event_id || trace;\nconst tenant = evt.tenant || (env.get('TENANT_DEFAULT') || 'default');\nconst norm = {\n  trace_id: trace,\n  event_id: eventId,\n  type: evt.type || 'unknown',\n  tenant,\n  file: evt.file || {},\n  share: evt.share || {},\n  received_at: now\n};\nconst logMsg = { payload: JSON.stringify(norm) };\nconst respMsg = { payload: { ok: true } };\nreturn [logMsg, respMsg];", "outputs": 2, "noerr": 0, "x": 880, "y": 180, "wires": [["file_1"],["http_resp_200"]] },
  { "id": "file_1", "type": "file", "z": "flow1", "name": "/data/webhook-log.jsonl", "filename": "/data/webhook-log.jsonl", "appendNewline": true, "createDir": true, "overwriteFile": "false", "encoding": "none", "x": 1170, "y": 160, "wires": [] },
  { "id": "http_resp_200", "type": "http response", "z": "flow1", "name": "200 JSON", "statusCode": "200", "headers": {"Content-Type":"application/json"}, "x": 1170, "y": 220, "wires": [] }
]
